.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 4rem;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  font-size: 1.3rem;
  font-weight: 800;
  color: #fff;
  padding: 0.5rem 0.2rem 0;
  line-height: 2rem;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}

@media screen and (max-width: 650px) {
  img {
    width: 100vh;
    height: 100%;
    object-fit: cover;
  }
  .hero-text h1 {
    padding: 10px 20px;
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
}
